@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
/* Make text size bigger so it looks good in full screen*/
:root {
    --teal: rgb(83, 119, 137);
    --black: rgb(0, 0, 0);
    --white: rgb(255, 255, 255);
    --sky-blue: rgb(192, 208, 220);
    --beige: rgb(234, 230, 225);
    --navy: rgb(46, 63, 84);
    --light-blue: rgb(193, 224, 242);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: var(--black);
}
body {
    padding: 0;
    min-height: 100vh;
    background-color: var(--beige); 
    font-size: larger;
}


header {
    padding: 1em 0;
}

/* NAV STYLE */

nav {
    box-shadow: 3px 3px 5px  rgba(0, 0, 0, .1);
    
}

nav ul {
    width: 100%; /* spans full width of container*/
    list-style: none;
    display: flex; /* these three lines move everything to right*/
    justify-content: flex-end;
    align-items: center;
}

nav li {
    font-weight: 500;
}

nav a {
    height: 100%; /*match height of list items*/
    padding: 0 1em; /*space between each item*/
    text-decoration: none;
    display: flex;
    align-items: center; /*align vertically*/
    color: var(--black);
    font-size: 1em;
}

nav a:hover {
    text-decoration: underline;
}

nav li:first-child {
    margin-right:auto;
    font-size: 1.5em;
}


.sidebar {
    /*stack side bar on the right covering everything else*/
    /*https://www.youtube.com/watch?v=U8smiWQ8Seg*/
    /*start at 6:24*/
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 350px; /* change to em?*/
    z-index: 999; /*ensures side bar is always above everything else*/
    background-color: var(--beige);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none; /*display links from top to bottom*/
    flex-direction: column; /*display links from top to bottom*/
    align-items: flex-start; /*uncenter the links*/
    justify-content: flex-start; /*uncenter the links*/
}

/* Get rid of the blue highlight when you click on the sidebar */
nav a,
.sidebar a {
    -webkit-tap-highlight-color: transparent;
}

.sidebar li {
    width: 100%;
    padding-top: 40px;
    padding-right: 30px;
    background-color: var(--beige);
}

.sidebar a {
    background-color: var(--beige);
    font-weight: 500;
    font-size: 1.15em;
}

/* the close icon in sidebar*/
.sidebar span {
    background-color: var(--beige);
}

#menuButton {
    display: none;
    margin-left:auto;
}

/*Tablet View*/
/*Could have to change the 800 depending on links in nav*/
@media(max-width: 903px ) {
    /*hdieOnMobile is the class so now any element with that class is not visible on Tablet devices*/
    .hideOnMobile {
        display: none;
    }

    #menuButton {
        display: block;
    }


}

/*Mobile View*/
@media(max-width: 400px ) {
    /*sidebae is the class so now any element with that class is not visible on Tablet devices*/
    .sidebar {
        width: 100%;
    }
}


/*Intro Image and Text Style*/

.profile img {
    width: 100%; /*fill 100% of its container's width*/
    max-width: 400px;
    max-height: 500px;
    border-radius: 10%;
    object-fit: cover;/*image covers entire retainer while maintaining its aspect ratio*/
    object-position: center top;
    vertical-align: middle;
} 

.wrapper {
    padding: 15px 30px;
    display: flex; /*aligns child elements horizontally */
    flex-wrap: nowrap; /*moves child elements to next line if there is not enough space*/
    align-items: center; /*vertically align items to center*/
    justify-content: space-around; /*allows child elements to take equal space around them*/
    gap: 5rem;
}

.intro {
    flex: 1; /*ensures element takes up as much space as possible in its flex container*/
    padding: 2em 0;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center; /* centers children horizontally */
}

.intro h1 {
    text-align: center;
}
.intro p {
    padding: 10px 130px;
}

/*Icons*/
.socials {
    display: flex;
    gap: 20px;
    margin-top: 15px;
    align-items: center;
}

.socials a:hover {
    fill:var(--accent-color);
}

.socials a svg {
    height: 35px;
    width: 35px;
}

@media (min-width: 1200px) {

    /*intro section*/
    .profile img {
        margin-left: 2em;
    }

    /* education section */
    #education {
        padding: 0em 5em;
    }

    #education .intro {
        padding: 0em 0em;
    }

}

@media (max-width: 1050px) {
    #education .intro p {
       padding: 10px 20px; 
    }
}

@media (max-width: 925px) {
    .intro p {
        padding: 10px 20px;
    }
}

@media (max-width: 750px) {
    .wrapper {
        flex-wrap: wrap
    }
    .intro {
        padding: 0 0;
    }

    .intro p {
        padding: 15px 30px;
    }

    #education.wrapper {
        padding: 0 0;
    }

    #education img {
        display: none;
    }

    /*Work Experience Section*/
    #work-experience.wrapper {
        gap: 0;
    }

}

@media(max-width: 655px) {
    .wrapper {
        display: block;
        flex-wrap: wrap;
    }
    
    .profile img {
        height: 400px;
    }
    
    .profile {
        text-align: center;
    }
    
    .intro {
        padding: 20px 0px;
    }

   
}



/* Education Section */
#education {
    padding-right: 5em;
    padding-top: 2em;
}

#education img {
    max-width: 20em; 
    width: 100%;
    height: 400px;
}

#education .intro p {
    padding: 10px 30px;
}
@media (max-width: 850px) {
    #education img {
        width: 250px;
        height: 300px;
    }
}


@media (max-width: 790px) {
    #education img {
        display: none;
    }

    #education .intro p {
        max-width: 500px;
        width: 100%;
    }
    #education {
        display: block;
        width: fit-content;   /* <-- needed for auto margins to work */
        margin: 0 auto;
    }
}


/* work Experience section*/
.work-experience {
    padding-top: 30px;
    padding: 1em;
}
.work-experience h1 {
    text-align: center
}

#work-experience.wrapper {
    padding: 15px 0px;
}

h2#title {
    margin-right: auto;
}

/*project experience*/
.work-experience ul {
    padding-left: 2em;
}


/*Skills*/
.skills h1 {
    text-align:center;
}

.skills .wrapper > div {
    height: 200px;
    width: 220px;
    padding: 15px 15px;
    border: 3px var(--teal) solid;
    border-radius: 10px;
}

.skills .wrapper h2 {
    text-align: center;
}

.skills .wrapper p {
    padding-top: 10px;
    text-align: center;
}

.skills .wrapper > div:hover {
    background-color: var(--teal);
    transition: .5s;
}

.skills .wrapper > div:hover * {
    background-color: var(--teal);
    transition: .5s;
    color: white;
}

@media (max-width: 875px) {
    .skills .wrapper > div {
        height: 250px;
    }
}

@media (max-width: 775px) {

    .skills .wrapper {
        display: flex;
        flex-wrap: wrap;           /* allows wrapping to multiple rows */
        justify-content: center;   /* center items horizontally */
        gap: 16px;                 /* spacing between divs */
    }

    .skills .wrapper > div {
        height: 200px;
        flex: 0 0 45%;             /* each div takes ~45% of row width */
        max-width: 300px;          /* optional cap */
    }
}

@media (max-width: 555px) {
    .skills .wrapper > div {
        height: 200px;
    }

    .skills .wrapper {
        display: block;
        width: fit-content;   /* <-- needed for auto margins to work */
        margin: 0 auto;
    }
}


/* STEM OUTREACH*/


/*top left img*/
.stem-outreach .top-left img {
    width: 100% ;
    max-width: 300px;
    border-radius: 10%;
    margin-bottom: 1em;
    border: 3px var(--teal) solid;
    object-fit: cover;/*image covers entire retainer while maintaining its aspect ratio*/
    object-position: center top right;
}

/*all other images*/
.stem-outreach img {
    width: 100% ;
    max-width: 350px;
    border-radius: 10%;
    margin-bottom: 1em;
    border: 3px var(--teal) solid;
    object-fit: cover;/*image covers entire retainer while maintaining its aspect ratio*/
    object-position: center top;
}


.stem-outreach .wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    align-items: start;
    gap: clamp(12px, 3vw, 32px);
}

.stem-outreach h1 {
    text-align: center;
}


.stem-outreach p {
    max-width: 300px;
    text-align: center;
    width: 100%;
}

/* Center the picture and their text beneath*/
.top-left {
    display: flex;
    flex-direction: column;
    justify-content: center; /* centers vertically */
    align-items: center;     /* centers horizontally */
}

.top-right {
    display: flex;
    flex-direction: column;
    justify-content: center; /* centers vertically */
    align-items: center;     /* centers horizontally */
    padding-top: 2.4em; /*need to align bottom of this text box with left text box*/
}

.bottom-left {
    display: flex;
    flex-direction: column;
    justify-content: center; /* centers vertically */
    align-items: center;     /* centers horizontally */
}


.bottom-right {
    display: flex;
    flex-direction: column;
    justify-content: center; /* centers vertically */
    align-items: center;     /* centers horizontally */
    padding-top: 1em;
}

#stem-top {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 equal columns */
    gap: 150px;
    align-items: center;
}

#stem-bottom {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 equal columns */
    gap: 150px;
    align-items: center;
}

.computer {
    padding-left: 2em;
    max-width: 250px;
    width: 100%;
    max-height: 250px;
    height: 100%
}

.gears {
    max-width: 250px;
    width: 100% ;
    max-height: 250px;
    height: 100%
}


/* Change Height of top left image to better match the rest*/
@media(max-width: 1300px ) {

    .stem-outreach .top-left img {
        max-height: 300px;
        height: 100%;
    }
}

@media(max-width: 1100px ) {

    .stem-outreach .top-left img {
        max-height: 200px;
        height: 100%;
    }
}

@media (max-width: 900px) {
    .stem-outreach .top-left img {
        max-height: 150px;
        height: 100%;
    }

}
@media (max-width: 850px) {
    .stem-outreach .top-left img {
    width: 200px;
    }

    /*all other images*/
    .stem-outreach img {
        width: 200px;
    }

    .computer {
        display: none;
    }

    .gears {
        display: none;
    }

    #stem-top.wrapper, #stem-bottom.wrapper {
        display: flex;
        justify-content: center; /* center children horizontally */
        flex-wrap: wrap;         /* allow children to wrap on smaller screens */
        gap: 20px;               /* optional spacing between children */
    }
}

@media(max-width: 718px) {
    .stem-outreach p {
        width: 500px;
    }


    .stem-outreach .top-left img {
        max-width: 300px;
        width: 100%;
        max-height: 300px;
        height: 100%
    }

    /*all other images*/
    .stem-outreach img {
        width: 300px;
    }
}


/* Campus Organizations*/

.orgs {
    padding-top: 2em;
    padding-bottom: 2em;
}

.orgs h1 {
    text-align: center;
    padding-bottom: 1em;
}

.orgs h2 {
    padding-top: 3em;
}


.orgs h3 {
    text-align: center;
    max-width: 350px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: .5em;
}


.orgs .wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, 375px); /* fixed column width */
    justify-content: center;   /* centers the whole grid */
    gap: 150px;                  /* constant gap between items */
}

.orgs .wrapper > div {
    
    text-align: center;
    border: 3px var(--teal) solid;
    border-radius: 400px 400px 0 0;
    height: 400px;
    max-width: 375px;
    width: 100%;
    overflow: hidden;
}

        
/* change to the orgs sections*/
.orgs .wrapper > div:hover {
    background-color: var(--teal);
    transition: .5s;
}

.orgs .wrapper > div:hover * {
    background-color: var(--teal);
    transition: .5s;
    color: white;
}

@media (max-width:998px) {
    .orgs .wrapper {
        gap: 20px;  
    } 
}


/* Footer Section */
footer {
    background-color: var(--teal);
    text-align: center;
    padding-bottom: 1em;
    color: rgba(255, 255, 255, 0.85);
    
}

footer h1 {
    background-color: var(--teal);
    padding-top: .5em;
}

footer p {
    background-color: var(--teal);
    padding-left: .5em;
    padding-right:.25em;
}

footer .socials {
    background-color: var(--teal);
    display: flex;              
    justify-content: center;    /* center horizontally */
    align-items: center;        /* center vertically */
    gap: 20px;            
}

footer .socials a {
    background-color: var(--teal);
    fill: rgba(255, 255, 255, 0.85);
          
}


